  <h1>Add New Workshop</h1>  
  <div>
  <%= bootstrap_form_for(@workshop) do |f| %>
    <%= f.text_field :name%>
    <%= f.text_field :description %>
    <%= f.text_field :price %>
    <%= f.datetime_select :time %>
    <%= f.submit :save %>
  <% end %>
  </div>