<div class="container">
  <p>Date: <%= @workshop.time%></p>
  <p>Price: <%= number_to_currency(@workshop.price) %></p>
  <p>Date: <%= pretty_date(@workshop.time)%></p>
  <p>Price: $<%= @workshop.price%></p>

  <% if current_user && current_user.admin? %>
    <%= button_to 'Edit Workshop', "/workshops/#{@workshop.id}/edit", method: :get, class: "btn btn-default" %>
    <br>
    <%= button_to "Remove Workshop", "/workshops/#{@workshop.id}", method: :delete, class: "btn btn-danger" %>
  <% end %>
  <br>

  <h1>To register for this class please fill out this form.</h1>
  <div class="col-md-6">
    <%= bootstrap_form_tag url: '/registrants' do |f| %>
      <%= f.text_field :first_name %>
      <%= f.text_field :last_name %>
      <%= f.text_field :affiliation %>
      <%= f.text_field :occupation %>
      <%= f.email_field :email %>
      <%= f.text_field :phone %>
      <%= hidden_field_tag :workshop_id, @workshop.id%>
      <%= f.submit 'Register' %>
    <% end %>
  </div>
  <br>
  <% if current_user && current_user.admin? %>
    <%= link_to('Edit Workshop', "/workshops/#{@workshop.id}/edit") %>
    <%= bootstrap_form_tag url: "/workshops/#{@workshop.id}", method: :delete do |f| %>
      <%= f.submit 'Remove this workshop' %>
    <% end %>
    <br>
  <% end %>
  <% if current_user && current_user.local_school_admin? %>
    <h1>Bulk Import</h1>
    <p><b>Use this function to register multiple users by importing a spreadsheet</b></p>
    <%= bootstrap_form_tag url: "/registrants/import", method: :post, multipart: true do |f| %>
      <%= f.file_field :file %>
      <%= hidden_field_tag :workshop_id, @workshop.id%>
      <%= hidden_field_tag :local_school_id, current_user.local_school_id %>
      <%= f.submit "Import" %>
    <% end %>
  <% end %>
</div>


<br>

