<div class="container">
  <h2>Create new admin</h2>
  <%= bootstrap_form_for @admin, url: "/admins" do |f| %>
    <!-- Single Register input area start -->
    <div class="form-group">
      <i class="fa fa-envelope-o" aria-hidden="true"></i>
      <%= f.email_field :email, { :autofocus => true, :placeholder => "Email" } %>
    </div>
    <!-- Single Register input area start -->
    <div class="form-group">
      <i class="fa fa-user" aria-hidden="true"></i>
      <%= f.text_field :first_name, { :placeholder => "First name" } %>
    </div>
    <!-- Single Register input area start -->
    <div class="form-group">
      <i class="fa fa-user" aria-hidden="true"></i>
      <%= f.text_field :middle_initial, { :placeholder => "Middle initial"} %>
    </div>
    <!-- Single Register input area start -->
    <div class="form-group">
      <i class="fa fa-user" aria-hidden="true"></i>
      <%= f.text_field :last_name, { :placeholder => "Last name" } %>
    </div>


    <div class="actions">
      <%= f.submit "Sign up", { :class => "btn btn-default", :id => "login_submit" } %>
    </div>
  <% end %>
  <br>
</div>