    <!-- Breadcumb area start -->
    <section class="breadcumb_area">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="breadcumb_section">
                        <!-- Breadcumb page title start -->
                        <div class="page_title">
                            <h3><%= @title %></h3>
                        </div>
                        <!-- Breadcumb page pagination start -->
                        <div class="page_pagination">
                            <ul>
                                <li><%= link_to "Home", "/" %></li>
                                <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                                <li><%= @title %></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcumb area end -->
    <!-- <section class="calendar_area section_padding_100"> -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div>
                        <%= month_calendar events: @events  do |date, events| %>
                            <h3 style="text-align: left;"><%= date.day %></h3>
                            
                            <div>
                                <% events.each do |event| %>
                                    <% if event.title %>
                                        <p style="text-align: left; text-decoration: underline;">Event Title:</p>
                                        <p style="text-align: left;"><%= event.title %></p>
                                    <% end %>    
                                        <!-- strp_format = "%A, %d %b %Y %l:%M %p" -->
                                    <% if event.start_time %>
                                        <p style="text-align: left; text-decoration: underline;"><underline><b>Time:</b></p> <p style="text-align: left;"><%= event.pretty_time(event.start_time) %>
                                    <% end %>
                                    <% if event.end_time %>
                                        to <%= event.pretty_time(event.end_time) %></p>
                                    <% else %>
                                        </p>
                                    <% end %>
                                    <% if event.location %>    
                                        <p style="text-align: left; text-decoration: underline;">Event Location:</p>
                                        <p style="text-align: left;"><%= event.location %></p>
                                    <% end %>
                                    <% if event.details %>    
                                        <p style="text-align: left; text-decoration: underline;">Event Details:</p>
                                        <p style="text-align: left;"><%= event.details %></p>
                                    <% end %>
                                    <hr>
                                <% end %>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    <section>
    <!-- </section> -->
