<div class="application-table">
   <table>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Status</th>
      <th>View Application</th>
    </tr>

   <% @applications.each do |application| %>
      <tr> 
         <td> <%= application.user.first_name.capitalize %> </td>
         <td> <%= application.user.last_name.capitalize %></td>
         <td> <%= application.application_status.capitalize %></td>
         <td> <%= link_to "View", "/applications/#{application.id}" %></td>

      </tr>

   <% end %>

   </table>
</div>

<div class="digg_pagination">
   <%= will_paginate @applications %>
</div>


