application page

<h3>SECTION A: PERSONAL DATA </h3>

<%= form_for(@application) do |f| %>
  <p><strong><%= label_tag :last_name %></strong></p>
  <p><strong><%= text_field_tag :'user[last_name]', current_user.last_name %></strong></p>
  <p><strong><%= label_tag :first_name %></strong></p>
  <p><strong><%= text_field_tag :'user[first_name]', current_user.first_name %></strong></p>
  <p><strong><%= label_tag :middle_initial %></strong></p>
  <p><strong><%= text_field_tag :'user[middle_initial]', current_user.middle_initial %></strong></p>
  <p><strong><%= f.label :phone_number %></strong></p>
  <p><strong><%= f.text_field :phone_number %></strong></p>
  <p><strong><%= f.label :street %></strong></p>
  <p><strong><%= f.text_field :street %></strong></p>
  <p><strong><%= f.label :city %></strong></p>
  <p><strong><%= f.text_field :city %></strong></p>
  <p><strong><%= f.label :state %></strong></p>
  <p><strong><%= f.text_field :state %></strong></p>
  <p><strong><%= f.label :zip_code %></strong></p>
  <p><strong><%= f.text_field :zip_code %></strong></p>
  <p><strong><%= f.label :country %></strong></p>
  <p><strong><%= f.text_field :country %></strong></p>
  <p><strong><%= f.label :birth_place %></strong></p>
  <p><strong><%= f.text_field :birth_place %></strong></p>
  <p><strong><%= f.label :birth_date %></p></strong>
  <p><strong><%= f.date_field :birth_date %></strong></p>
  <p><strong><%= f.label :country_of_citizenship %></strong></p>
  <p><strong><%= f.text_field :country_of_citizenship %></strong></p>
  <p><strong><%= f.label :occupation %></strong></p>
  <p><strong><%= f.text_field :occupation %></strong></p>
  <p><strong><%= f.label :name_of_spouse %></strong></p>
  <p><strong><%= f.text_field :name_of_spouse %></strong></p>
  <p><strong><%= f.label :ages_of_children %></strong></p>
  <p><strong><%= f.text_field :ages_of_children %></strong></p>
  <p><strong><%= label_tag :email %></strong></p>
  <p><strong><%= text_field_tag :'user[email]', current_user.email, disabled: true %></strong></p>
  <p><strong><%= f.submit :save %></strong></p>
<% end %>

