<div class="application">
  <h1>MY APPLICATION</h1>

  <h3>SECTION A: PERSONAL DATA </h3>

  <p>Last Name: <%= @application.user.last_name %></p>
  <p>First Name: <%= @application.user.first_name %></p>
  <p>Middle Initial: <%= @application.user.middle_initial %></p>
  <p>Email: <%= @application.user.email %></p>
  <p>Phone Number: <%= @application.phone_number %></p>
  <p>Street: <%= @application.street %></p>  
  <p>City: <%= @application.city %></p>   
  <p>State: <%= @application.state %></p>  
  <p>Zip Code: <%= @application.zip_code %></p>  
  <p>City: <%= @application.city %></p> 
  <p>Country: <%= @application.country %></p> 
  <p>Birth Place: <%= @application.birth_place %></p>
  <p>Birth Date: <%= @application.pretty_date(@application.birth_date) %></p>
  <p>Country of Citzenship: <%= @application.country_of_citizenship %></p>
  <p>Occupation: <%= @application.occupation %></p>
  <p>Name of Spouse: <%= @application.name_of_spouse %></p>
  <p>Ages of Children: <%= @application.ages_of_children %></p>

  <p><%= link_to 'Edit Personal Data', "/applications/#{@application.id}/edit"%></p>
  <hr>

  <h3>Other Application Sections</h3>
  <p>Please double check all sections below to ensure that your application is accurate.</p>
  <h4><a href="/applications/<%= @application.id %>/educations">B. Education</a></h4>
  <h4><a href="/applications/<%= @application.id %>/montessori_trainings">C. Montessori Trainings</a></h4>
  <h4><a href="/applications/<%= @application.id %>/work_experiences">D. Work Experience</a></h4>
  <h4><a href="/applications/<%= @application.id %>/references">E. References</a></h4>
  <h4><a href="/applications/<%= @application.id %>/documents">F. Documents</a></h4>
  <hr>

  <h3>Pay A ppplication Fee and Submit Application</h3>
  <p>I certify that the information I have given on the application is complete and correct. I
understand my failure to provide complete, accurate and truthful information on the application
will be grounds to deny or withdraw my admission or dismiss me after enrollment.</p>
  
  
  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#payModal">
    Pay Application Fee
  </button>

  <!-- Modal -->
  <div class="modal fade" id="payModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Credit card information</h4>
        </div>
        <div class="modal-body">
          <%= form_tag application_payment_path(params[:id]), method: :put, id: "payment-form" do %>

          <div class="form-row">
            <label for="card-element">
              Please enter your Credit or Debit card information:
            </label>
            <p>Application Fee: $<%= @amount %></p>
            <div id="card-element">
              <!-- a Stripe Element will be inserted here. -->
            </div>

            <!-- Used to display Element errors -->
            <div id="card-errors" role="alert"></div>
          </div>
          <input type="hidden" name="application_id" value="<%= params[:id] %>">

          <button class="btn btn-primary">Submit Payment</button>
          <!-- </form> -->
          <% end %>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
  
</div>