<!-- Breadcumb area start -->
<section class="breadcumb_area">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="breadcumb_section">
                    <!-- Breadcumb page title start -->
                    <div class="page_title">
                        <h3><%= @title %></h3>
                    </div>
                    <!-- Breadcumb page pagination start -->
                    <div class="page_pagination">
                        <ul>
                            <li><%= link_to "Home", "/" %></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                            <li><%= @title %></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</section>

<style> 
.calendar-heading {
    text-align: center;
    font-size: 14px;

}

.calendar-heading a {
    width: 85px;
    border-radius: 4px;
}

.calendar-title{
    font-size: 24px;
    font-weight:bold;
}

.calendar-heading {
  background: white;
  cursor: default;
  /* self-clearing method: */ 
}

.calendar-heading a, .calendar-heading span, .calendar-heading em {
  padding: 0.2em 0.5em;
  display: inline-block;
  margin-right: 1px; 
  margin-bottom: 30px;
 }

.calendar-heading .disabled {
  color: #999999;
  border: 1px solid #dddddd; 
 }

.calendar-heading .current {
  font-style: normal;
  font-weight: bold;
  background: #2e6ab1;
  color: white;
  border: 1px solid #2e6ab1; 
}

.calendar-heading a {
  text-decoration: none;
  color: #105cb6;
  border: 1px solid #9aafe5; 
}

.calendar-heading a:hover, .calendar-heading a:focus {
  color: #000033;
  border-color: #000033; 
}

.calendar-heading .page_info {
  background: #2e6ab1;
  color: white;
  padding: 0.4em 0.6em;
  width: 22em;
  margin-bottom: 0.3em;
  text-align: center; 
}

 .calendar-heading .page_info b {
  color: #000033;
  background: #6aa6ed;
  padding: 0.1em 0.25em; 
}

.calendar-heading:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; 
}

* html .calendar-heading {
  height: 1%; 
}

*:first-child + html .calendar-heading {
  overflow: hidden; 
}

</style>

<section>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div>
                    <% if current_user && current_user.admin? %>
                        <!-- <%= link_to "Create New Event", new_calendar_event_path %> -->

                        <div>
                            <%= link_to "Create New Event", new_calendar_event_path, { :class => "btn btn-primary btn-default btn-lg", :role => "button"} %>
                        </div>
                    <% end %>
                </div>
                <div >
                    <%= month_calendar events: @events  do |date, events| %>
                        <h3 style="text-align: left;"><%= date.day %></h3>
                        <div>
                            <% events.each do |event| %>
                                <p style="text-align: left"><%= link_to(event.title, calendar_event_path(event.id)) %></p>
                                <p style="text-align: left"><%= event.pretty_time(event.start_time) %></p>
                                <% if event.location %>    
                                    <p style="text-align: left">Location: <%= event.location %></p>
                                <% end %>
                                <% if event.details.present? %>    
                                    <p style="text-align: left">Details: <%= event.details %></p>
                                <% end %>
                                <hr>
                            <% end %>
                        </div>
                    <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
