<style>
.btn-primary {
    background-color: #394a70 !important;
    border-color:color: #394a70 !important;
    color: #fff !important;
    font-size: 14px !important;
}
</style>
<div class="application">
  <%= bootstrap_form_for [@event], :url => {:action => "create"} do |f| %>
	  <p><%= f.text_field :title %></p>
	  <p><%= f.text_field :location %></p>
	  <p><%= f.text_area :details, rows: 5  %></p>
	  <p><%= f.datetime_field :start_time, label: "Start Time (enter date and time)"%></p>
	  <p><%= f.datetime_field :end_time, label: "End Time (enter date and time)" %></p>
	  <p><%= f.submit "Create", :class => "btn btn-primary btn-default btn-lg", :role => "button" %></p>
  <% end %>
</div>