<div class="application">
  <h1>SECTION D: WORK EXPERIENCE </h1>
  <p>Please see your work experience below.</p>
  <% if current_user.role != 'current_teacher' %>
    <p><a href="/applications/<%= @application.id %>/work_experiences/new">Add new work experience</a></p>
  <% end %>
  <hr>

  <% @work_experiences.each do |work| %>
    <p>Name: <%= work.employer %></p>
    <p>Location: <%= work.occupation %></p>
    <p>Start Date: <%= pretty_date(work.start_date) %></p>
    <% if work.end_date %>
      <p>End Date: <%= pretty_date(work.end_date) %></p>
    <% else %>
      <p>Currently working there</p>
    <% end %>
    <% if current_user.role != 'current_teacher' %>
      <p><%= link_to 'Edit work experience', "/applications/#{@application.id}/work_experiences/#{work.id}/edit"%>
    <% end %>
    <hr>
  <% end %>

  <%= render partial: '/shared/other_application_section' %>
</div>
