<h3>SECTION D: Work Experience </h3>

<%= form_for [@application, @work_experience] do |f| %>
<p><strong><%= f.label :employer %></strong></p>
<p><strong><%= f.text_field :employer %></strong></p>
<p><strong><%= f.label :occupation %></strong></p>
<p><strong><%= f.text_field :occupation %></strong></p>
<p><strong><%= f.label :start_date %></strong></p>
<p><strong><%= f.date_field :start_date %></strong></p>
<p><strong><%= f.label :end_date %></strong></p>
<p><strong><%= f.date_field :end_date %></strong></p>
<p><strong><%= f.submit :next %></strong></p>
<% end %>

<hr>

<p><strong><a href="/applications/<%= @application.id %>/work_experiences">Back to Work Experiences</a> </strong></p>