<!-- ===================== Welcome Area Start ===================== -->
    <section class="welcome_area container" id="home">
        <div class="welcome_slides">
            <!-- Single Slide Start -->
            <div class="single_slide" style="background-image: url(<%= image_path "img/bg-pattern/slider-1.jpg" %>);">
                <div class="slide_text">
                    <div class="table">
                        <div class="table_cell">
                            <h2>Education is Power</h2>
                            <h3>Educating the mind without educating the heart is no education at all.</h3>
                            <div class="welcome_btn">
                                <%= link_to "Learn More", "/about", { :class => "btn btn-1 btn-default btn-lg active", :role => "button" } %>
                                <%= link_to "Register", new_user_registration_path, { :class => "btn btn-2 btn-default btn-lg", :role => "button" } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Slide Start -->
            <div class="single_slide" style="background-image: url(<%= image_path "img/bg-pattern/slider-2.jpg" %>);">
                <div class="slide_text">
                    <div class="table">
                        <div class="table_cell">
                            <h2>Learn more with IMTI</h2>
                            <h3>Education is the most powerful weapon which you can use to change the world.</h3>
                            <div class="welcome_btn">
                                <%= link_to "Enroll Now", new_user_registration_path, { :class => "btn btn-1 btn-de btn-lg active", :role => "button" } %>
                                <%= link_to "Contact Us", "/contact", { :class => "btn btn-2 btn-default btn-lg", :role => "button" } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="clearfix"></div>
    <!-- ===================== Welcome Area End ===================== -->

    <!-- ===================== Awesome Feature Area Start ===================== -->
    <section class="awesome_features_area home2 section_padding_100">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <!-- Section Heading Start -->
                    <div class="section_heading wow fadeInUp">
                        <%= image_tag "img/icon-img/icon.png" %>
                        <h4>Best Services</h4>
                    </div>
                    <!-- Section Heading End -->
                </div>
            </div>
            <!-- end./ row -->

            <div class="row">
                <!-- Single Feature Area Start -->
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="single_feature wow fadeInUp" data-wow-delay="0.2s">
                        <div class="feature_img">
                            <span class="icon-genius"></span>
                        </div>
                        <!-- Single Feature Image Area End -->
                        <div class="feature_text">
                            <h5>Effective Courses</h5>
                            <p>Lorem ipsum dolors item amet coti adipisicing elt, sed do eimd at.</p>
                        </div>
                        <!-- Single Feature Text Area End -->
                    </div>
                </div>
                <!-- Single Feature Area End -->

                <!-- Single Feature Area Start -->
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="single_feature wow fadeInUp" data-wow-delay="0.4s">
                        <div class="feature_img">
                            <span class="icon-profile-male"></span>
                        </div>
                        <!-- Single Feature Image Area End -->
                        <div class="feature_text">
                            <h5>Best Course Teachers</h5>
                            <p>Lorem ipsum dolors item amet coti adipisicing elt, sed do eimd at.</p>
                        </div>
                        <!-- Single Feature Text Area End -->
                    </div>
                </div>
                <!-- Single Feature Area End -->

                <!-- Single Feature Area Start -->
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="single_feature wow fadeInUp" data-wow-delay="0.6s">
                        <div class="feature_img">
                            <span class="icon-compass"></span>
                        </div>
                        <!-- Single Feature Image Area End -->
                        <div class="feature_text">
                            <h5>Practical Classes</h5>
                            <p>Lorem ipsum dolors item amet coti adipisicing elt, sed do eimd at.</p>
                        </div>
                        <!-- Single Feature Text Area End -->
                    </div>
                </div>
                <!-- Single Feature Area End -->

                <!-- Single Feature Area Start -->
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="single_feature wow fadeInUp" data-wow-delay="0.8s">
                        <div class="feature_img">
                            <span class="icon-gift"></span>
                        </div>
                        <!-- Single Feature Image Area End -->
                        <div class="feature_text">
                            <h5>Organised Classroom</h5>
                            <p>Lorem ipsum dolors item amet coti adipisicing elt, sed do eimd at.</p>
                        </div>
                        <!-- Single Feature Text Area End -->
                    </div>
                </div>
                <!-- Single Feature Area End -->

            </div>
            <!-- end./ row -->
        </div>
        <!-- end./ container -->
        <%= yield %>
    </section>
    <!-- ===================== Awesome Feature Area End ===================== -->

    <!-- ===================== Popular Courses Area Start ===================== -->
    <section class="popular_coureses_area home2 grid_coundown section_padding_60">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <!-- Section Heading Area Start -->
                    <div class="section_heading wow fadeInUp">
                        <%= image_tag "img/icon-img/coures-icon.png" %>
                        <h4>Upcoming Events</h4>
                    </div>
                    <!-- Section Heading Area End -->
                </div>
            </div>

            <div class="row">
                <!-- Single Courses Area Start -->
                <% @events.each do |event| %>
                <div class="col-md-4 col-xs-12">
                    <div class="single_courses wow fadeInUp" data-wow-delay="0.2s">
                        <div class="single_courses_thumb">
                            <%= image_tag "img/course-img/event-1.jpg" %>
                            <div class="hover_overlay">
                                <div class="links">
                                    <%= link_to '<i class="fa fa-search" aria-hidden="true"></i>'.html_safe, asset_path("img/course-img/event-1.jpg"), { :class => "magnific-popup" } %>
                                </div>
                            </div>
                        </div>
                        <!-- Single Courses Image Area End -->
                        <div class="single_courses_desc">
                            <!-- Single Courses Title Area End -->
                            <div class="title">
                                <%= link_to(calendar_event_path(event.id)) do %>
                                  <h5><%= event.title %></h5>
                                <% end %>
                                <div class="date_time">
                                    <div class="date">
                                        <p><span class="icon-calendar"></span> <%= event.start_time.strftime('%d %b, %Y') %></p>
                                    </div>
                                    <div class="time">
                                        <p><span class="icon-clock"></span> <%= event.start_time.strftime('%I:%M %p') %></p>
                                    </div>
                                </div>
                                <p><%= event.details %></p>
                            </div>
                            <!-- Single Courses Blog Title Area End -->

                            <div class="price_rating_area">
                                <ul data-countdown="<%= event.start_time.strftime('%Y/%m/%d %l:%M:%S') %>" class="timer">
                                    <!-- Please use event time this format: YYYY/MM/DD hh:mm:ss -->
                                    <li><span class="days">0</span>d</li>
                                    <li><span class="hours">0</span>h</li>
                                    <li><span class="minutes">00</span>m</li>
                                    <li><span class="seconds">00</span>s</li>
                                </ul>
                            </div>
                            <!-- Event Coundown area End -->
                        </div>
                    </div>
                </div>
                <% end %>
                <!-- Single Courses Area End -->
            </div>
        </div>
    </section>
    <!-- ===================== Popular Courses Area End ===================== -->

    <!-- ===================== Why Chooses Area Start ===================== -->
    <section class="why_choose_us_area home2 section_padding_100">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="section_heading wow fadeInUp">
                        <%= image_tag "img/icon-img/why-choose-icon.png" %>
                        <h4>WHY Choose Us</h4>
                    </div>
                </div>
            </div>
            <div class="row">

                <!-- Single why choose area start -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single_service wow fadeInUp" data-wow-delay="0.3s">
                        <div class="single_service_img_area">
                            <div class="border">
                                <!-- Single why choose image -->
                                <div class="single_service_img">
                                    <span class="icon-global"></span>
                                </div>
                                <!-- Single why choose title -->
                                <div class="service_title">
                                    <h5>We are Global</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single why choose area start -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single_service wow fadeInUp" data-wow-delay="0.5s">
                        <div class="single_service_img_area">
                            <div class="border">
                                <!-- Single why choose image -->
                                <div class="single_service_img">
                                    <span class="icon-book-open"></span>
                                </div>
                                <!-- Single why choose title -->
                                <div class="service_title">
                                    <h5>Skilled Faculty</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single why choose area start -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single_service wow fadeInUp" data-wow-delay="0.8s">
                        <div class="single_service_img_area">
                            <div class="border">
                                <!-- Single why choose image -->
                                <div class="single_service_img">
                                    <span class="icon-genius"></span>
                                </div>
                                <!-- Single why choose title -->
                                <div class="service_title">
                                    <h5>Online Research</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- end. row -->
        </div>
        <!-- end. container -->
    </section>
    <!-- ===================== Why Chooses Area End ===================== -->

    <!-- ===================== Call to action Area Start ===================== -->
    <div class="call_to_action">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="call_to">
                        <h3>Bring your career on the right track. Apply today!</h3>
                        <%= link_to('Get Started', new_user_registration_path, class: 'btn btn-default') %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ===================== Call to action Area End ===================== -->
