<!-- Breadcumb area start -->
    <section class="breadcumb_area">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="breadcumb_section">
                        <!-- Breadcumb page title start -->
                        <div class="page_title">
                            <h3>Donate</h3>
                        </div>
                        <!-- Breadcumb page pagination start -->
                        <div class="page_pagination">
                            <ul>
                                <li><%= link_to "Home", "/" %></li>
                                <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                                <li>Donate</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcumb area end -->

    <p>First Name: <%= @donation.first_name %></p>
    <p>Last Name: <%= @donation.last_name %></p>
    <p>Email: <%= @donation.email %></p>
    <p>Amount: <%= number_to_currency(sprintf('%.2f', @donation.amount))%></p>
    <!-- ==================== Message Now Area Start ==================== -->
    <section class="message_now_area">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    
        <!-- .end container -->
             <%= form_tag charges_path do %>
                                    <article>
                                      <% if flash[:error].present? %>
                                      <div id="error_explanation">
                                        <p><%= flash[:error] %></p>
                                      </div>
                                      <% end %>
                                    </article>
                                    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                      data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                                      data-description="Your donation"
                                      data-amount="<%= @donation.amount*100 %>"
                                      data-email="<%= current_user.email %>"
                                      data-locale="auto"></script>
                                    <% end %>

                </div>
            </div>
        </div>
    </section>
    <!-- ==================== Message Now Area Start ==================== -->

    <!-- ==================== Map and Contact Area Start ==================== -->
    <div class="map_contact_address_area">
        <!-- Map Area Start -->
        <div class="map_area" id="googleMap"></div>
    </div>
    <!-- ==================== Map and Contact Area End ==================== -->