<div class="application">
  <h1>SECTION F: DOCUMENTS</h1>
  <hr>
  
  <%= bootstrap_form_for [@application, @document], :url => {:action => "update"} do |f| %>
    <h4>Currently Uploaded:</h4>
    <p><%= @document.attachment_file_name %></p>
    <hr>
    <p><%= f.file_field :attachment %></p>
    <hr>
    <p><%= f.submit :Update %></p>
  <% end %>

  <p><%= link_to 'Cancel', "/applications/#{@application.id}/documents"%>
</div>


