<div class="application">
  <h1>SECTION F: DOCUMENTS</h1>
  <hr>

  <table id="attachments">
    <thead>
      <tr>
        <th width="30%">Document Name</th>
        <th width="50%">Attachment</th>
        <th width="20%">Upload</th>
      </tr>
    </thead>
    <tbody>

      <% @documents.each do |document| %>
        <tr>
          <td><%= document[:name] %></td>
          <td><%= document[:attachment] %></td>
          <% if document[:attachment] %>
            <td>
              <%= form_for [@application, @document], :url => "/applications/#{@application.id}/documents/#{document[:document_id]}", :method => :patch do |f| %>
                <div>
                  <%= f.file_field :attachment %>
                  <%= f.hidden_field :document_id, value: document[:document_id] %>
                  <%= f.submit :Update, :class => 'btn btn-sm btn-success' %>
                </div>
              <% end %>
            </td>
          <% else %>
            <td>
              <%= form_for [@application, @document] do |f| %>
                <%= f.file_field :attachment %>
                <%= f.hidden_field :category, value: document[:key_name] %>
                <%= f.submit :Save, :class => 'btn btn-sm btn-primary' %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <hr>

  <% if current_user.role == "international_applicant" %>
    <p>Use the following links to procure any necessary documents:</p>
    <ul>
      <li><a href="https://travel.state.gov/content/visas/en/study-exchange/student.html" target="_blank"> F1 Student Visa </a></li>
      <li><a href="https://www.ets.org/toefl/ibt/scores/get/" target="_blank"> TOEFL Scores </a></li>
      <li><a href="https://www.ielts.org/book-a-test/getting-your-results" target="_blank"> IELTS Scores </a></li>
      <li><a href="http://www.wes.org/" target="_blank"> WES Evaluation </a></li>
    </ul>
   <% end %>

  <hr>

  <h3>Other Application Sections</h3>
  <p>Please double check all sections below to ensure that your application is accurate.</p>
  <h4><a href="/applications/<%= @application.id %>">A. My Personal Data, Pay Application Fee & Submit</a></h4>
  <h4><a href="/applications/<%= @application.id %>/educations">B. Education</a></h4>
  <h4><a href="/applications/<%= @application.id %>/montessori_trainings">C. Montessori Trainings</a></h4>
  <h4><a href="/applications/<%= @application.id %>/work_experiences">D. Work Experience</a></h4>
  <h4><a href="/applications/<%= @application.id %>/references">E. References</a></h4>
  <h4><a href="/applications/<%= @application.id %>/documents">F. Documents</a></h4>
</div>
