<div class="application">

  <%= form_tag application_documents_path do %>
    <% @application.documents.each do |d| %>
      <%= label_tag :category, d.category.humanize %>
      <%= d.attachment_file_name %>
      <%= file_field_tag :attachment, multiple: true %> 
    <% end %>

    <% @documents_needed.each do |d| %>
      <%= label_tag :category, d[0] %>
      <%= file_field_tag :attachment %>
    <% end %>

    <input type="submit" name="attachments[attachment]">

  <% end %>



>>>>>>> Latest as of 7/17
  <h1>SECTION F: DOCUMENTS</h1>
  <hr>

  <table class="table-striped">
    <thead>
      <tr>
        <th width="30%">Document Name</th>
        <th width="50%">Attachment</th>
        <th width="20%">Upload</th>
      </tr>
    </thead>
    <tbody>
<<<<<<< HEAD
      <%= form_for [@application, Document.new] do |f| %>
        <% @application_documents.each do |d| %>
          <tr>
            <td><%= d[0] %></td>
            <td>
              <% if @application.documents.find_by(category: d[1]) %>
                <p><%= @application.documents.find_by(category: d[1]).attachment_file_name %></p>
              <% end %>
            </td>
            <td><%= f.file_field d[1] %></td>
          </tr>
        <% end %> 
      </tbody>
    </table>
    <br>
    <%= f.submit :Save, :class => 'btn btn-sm btn-primary' %>
  <% end %>
=======
   
    </tbody>
  </table>
>>>>>>> Latest as of 7/17

  <hr>

  <% if current_user.role == "international_applicant" %>
    <p>Use the following links to procure any necessary documents:</p>
    <ul>
      <li><a href="https://travel.state.gov/content/visas/en/study-exchange/student.html" target="_blank"> F1 Student Visa </a></li>
      <li><a href="https://www.ets.org/toefl/ibt/scores/get/" target="_blank"> TOEFL Scores </a></li>
      <li><a href="https://www.ielts.org/book-a-test/getting-your-results" target="_blank"> IELTS Scores </a></li>
      <li><a href="http://www.wes.org/" target="_blank"> WES Evaluation </a></li>
    </ul>
   <% end %>

  <hr>

  <h3>Other Application Sections</h3>
  <p>Please double check all sections below to ensure that your application is accurate.</p>
  <h4><a href="/applications/<%= @application.id %>">A. My Personal Data, Pay Application Fee & Submit</a></h4>
  <h4><a href="/applications/<%= @application.id %>/educations">B. Education</a></h4>
  <h4><a href="/applications/<%= @application.id %>/montessori_trainings">C. Montessori Trainings</a></h4>
  <h4><a href="/applications/<%= @application.id %>/work_experiences">D. Work Experience</a></h4>
  <h4><a href="/applications/<%= @application.id %>/references">E. References</a></h4>
  <h4><a href="/applications/<%= @application.id %>/documents">F. Documents</a></h4>
</div>