<h3>SECTION F: DOCUMENTS </h3> 
<p><strong>Please attach your transcripts, recommendations and references below.</strong></p>
<p>Click the + button to add additional documents.</p>

<% @documents.each do |document| %>
  <p><strong>Attachment url: <%= document.attachment %></strong></p>
  <p><strong>Category: <%= document.category %></strong></p>
  <p><strong><%= link_to 'Edit document', "/applications/#{@application.id}/documents/#{document.id}/edit" %></strong></p>
  <hr>
<% end %>

<hr>

<a href="/applications/<%= @application.id %>/documents/new">Add new document</a>

<h4>Other Application Sections</h4>

<p><strong><a href="/applications/<%= @application.id %>/educations">Education</a></strong></p>
<p><strong><a href="/applications/<%= @application.id %>/montessori_trainings">Montessori Trainings</a></strong></p>
<p><strong><a href="/applications/<%= @application.id %>/work_experiences">Work Experience</a></strong></p>
<p><strong><a href="/applications/<%= @application.id %>/references">References</a></p></strong></p>
