<div class="application">

  <h1>SECTION F: DOCUMENTS</h1>
  <hr>

  <table class="table-striped">
    <thead>
      <tr>
        <th width="30%">Document Name</th>
        <th width="50%">Attachment</th>
        <th width="20%">Upload</th>
      </tr>
    </thead>
    <tbody>
      <%= form_for [@application, Document.new] do |f| %>
        <% @application_documents.each do |d| %>
          <tr>
            <td><%= d[0] %></td>
            <% if document = @application.documents.find_by(category: d[1]) %>
              <td> <%= link_to(document.attachment_file_name, document.attachment.url) %> </td>
            <% end %>
            <td><%= f.file_field d[1] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
    <% if current_user.role != 'current_teacher' %>
      <%= f.submit :Save, :class => 'btn btn-sm btn-primary' %>
    <% end %>
  <% end %>

  <hr>

  <% if current_user.role == "international_applicant" %>
    <p>Use the following links to procure any necessary documents:</p>
    <ul>
      <li><a href="https://travel.state.gov/content/visas/en/study-exchange/student.html" target="_blank"> F1 Student Visa </a></li>
      <li><a href="https://www.ets.org/toefl/ibt/scores/get/" target="_blank"> TOEFL Scores </a></li>
      <li><a href="https://www.ielts.org/book-a-test/getting-your-results" target="_blank"> IELTS Scores </a></li>
      <li><a href="http://www.wes.org/" target="_blank"> WES Evaluation </a></li>
    </ul>
   <% end %>

  <hr>
  <%= render partial: '/shared/other_application_section' %>
</div>
