<h3>SECTION F: DOCUMENTS </h3>- 
<p><strong>Please attach your transcripts, recommendations and references below.</strong></p>
<p>Click the + button to add additional documents.</p>

<%= form_for [@application, @document] do |f| %>
<p><strong><%= f.label :attachment, "Attachment url" %></strong></p>
<p><strong><%= f.text_field :attachment %></strong></p>
<p><strong><%= f.label :category %></strong></p>
<p><strong><%= f.select :category, [['transcript'], ['recommendation'], ['resume']] %></strong></p>
<p><strong><%= f.submit :save %></strong></p>
<% end %>


