<div class="application">

  <h1>Edit Info</h1>

  <%= bootstrap_form_for @alum, :url => {:action => "update"} do |f| %>
    <p><%= f.text_field :first_name %></p>
    <p><%= f.text_field :middle_initial %></p>
    <p><%= f.text_field :last_name %></p>
    <p><%= f.text_field :email %></p>
    <p><%= f.text_field :phone_number %></p>
    <p><%= f.text_field :street %></p>
    <p><%= f.text_field :city %></p>
    <p><%= f.text_field :state %></p>
    <p><%= f.text_field :zip_code %></p>
    <p><%= f.text_field :country %></p>
    <p><%= f.text_field :occupation %></p>
    <p><%= f.submit :Save %></p>
    <p><%= link_to 'Cancel', "/alumni/#{@alum.id}/"%></p>
  <% end %>
</div>
