<section class="about_us_area section_padding_100">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <!-- About us text start -->
                <div class="about_us_text">
                   <h5></h5>
                </div>
                <!-- About us special quote start -->
                <div class="special_service">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="single_special_service">    
                            <h5>Name: <%= "#{@alum.first_name} #{@alum.last_name}" %></h5>
                        </div>
                      </div>
                      <div class="col-sm-12">
                          <div class="single_special_service">
                              <h5>Email: <%= @alum.email %></h5>
                          </div>
                      </div>
                      <div class="col-sm-12">
                          <div class="single_special_service">
                              
                              <h5>Address: 
                              <br>
                              <%= "#{@alum.street}, #{@alum.city}, #{@alum.state} #{@alum.zip_code}, #{@alum.country}" %></h5>
                          </div>
                      </div>
                      <div class="col-sm-12">
                          <div class="single_special_service">
                              <h5>Phone Number: <%= @alum.phone_number %></h5>
                          </div>
                      </div>
                      <div class="col-sm-12">
                          <div class="single_special_service">
                              <h5>Occupation: <%= @alum.occupation %></h5>
                          </div>
                      </div>
                      <div class="col-sm-12">
                          <div class="single_special_service">
                              <h5><%= link_to "edit", "/alumni/#{@alum.id}/edit" %></h5>
                          </div>
                      </div>
                    </div>
                </div>

            </div>
            <div class="col-xs-12 col-md-6">
                <!-- About us thumb start -->
                <div class="about_us_thumb">
                    <%= image_tag "img/about.jpg" %>
                </div>
            </div>
        </div>
    </div>
</section>
