<h3>SECTION E: REFERENCES DATA </h3>

<% @references.each do |reference| %>
  <p><strong>Name: <%= reference.name %></strong></p>
  <p><strong>Address: <%= reference.address %></strong></p>
  <p><strong>Position: <%= reference.position %></strong></p>
  <p><strong><%= link_to 'Edit reference', "/applications/#{@application.id}/references/#{reference.id}/edit"%></strong></p>
  <hr>
<% end %>

<p><strong><a href="/applications/<%= @application.id %>/references/new">Add new reference</a></strong><p>

<hr>

<h4>View Other Sections Below</h4>

<p><strong><a href="/applications/<%= @application.id %>/educations">Education</a></strong></p>
<p><strong><a href="/applications/<%= @application.id %>/montessori_trainings">Montessori Trainings</a></strong></p>
<p><strong><a href="/applications/<%= @application.id %>/work_experiences">Work Experience</a></strong></p>
<p><strong><a href="/applications/<%= @application.id %>/documents">Documents</a></strong></p>