<h3>>SECTION E: REFERENCES </h3>

<%= form_for [@application, @reference] do |f| %>
<p><strong><%= f.label :name %></strong></p>
<p><strong><%= f.text_field :name %></strong></p>
<p><strong><%= f.label :address %></strong></p>
<p><strong><%= f.text_field :address %></strong></p>
<p><strong><%= f.label :position%></strong></p>
<p><strong><%= f.text_field :position%></strong></p>
<p><strong><%= f.submit :save %></strong></p>
<% end %>