<div class="container" id="courseRgstShowContainer">
	<h1>Congrats! You are officially enrolled! </h1>
	<ul> 
		<li> Course: <%= @new_charge.description %></li>
		<li> Amount: <%= number_to_currency(@new_charge.amount) %></li>
		<li> Email: <%= @new_charge.user.email %></li>
		<li> Reference Number: <%= @new_charge.uid %></li>
	</ul>

	<%= link_to("View Course", course_path(@course.id)) %>
</div>