<p>SECTION B: SUPPORTING DATA </p>

<% @educations.each do |education| %>
  <p>School: <%= education.school %></p>
  <p>Location: <%= education.location %></p>
  <p>Start Date: <%= education.start_date %></p>
  <p>End Date: <%= education.end_date %></p>
  <p>Degree: <%= education.degree %></p>
  <p>Degree date: <%= education.degree_date %></p>
  <p><%= link_to "Edit education", edit_application_education_path(@application.id,education.id) %></p>
<% end %>

<p><%= link_to "Add New education", new_application_education_path(@application.id) %></p>
<p><%= link_to "Go to Montessori Trainings", application_montessori_trainings_path(@application.id) %></p>
<p><%= link_to "Go to Work Experience", application_work_experiences_path(@application.id) %></p>
<p><%= link_to "Go to Montessori Trainings", application_montessori_trainings_path(@application.id) %></p>
<p><%= link_to "Go to References", application_references_path(@application.id) %></p>
<p><%= link_to "Go to Documents", application_documents_path(@application.id) %></p>