<h3>SECTION B: EDUCATION </h3>
<p><strong>Please add your education supporting data below.</strong></p>
<p>Click the + button to add additional schools.</p>

<%= form_for [@application, @education] do |f| %>
<p><strong><%= f.label :school %></strong></p>
<p><strong><%= f.text_field :school %></strong></p>
<p><strong><%= f.label :country %></strong></p>
<p><strong><%= f.text_field :location %></strong></p>
<p><strong><%= f.label :start_date %></strong></p>
<p><strong><%= f.date_field :start_date %></strong></p>
<p><strong><%= f.label :end_date %></strong></p>
<p><strong><%= f.date_field :end_date %></strong></p>
<p><strong><%= f.label :degree %></strong></p>
<p><strong><%= f.text_field :degree %></strong></p>
<p><strong><%= f.label :degree_date %></strong></p>
<p><strong><%= f.date_field :degree_date %></strong></p>
<p><strong><%= f.submit :next %></strong></p>
<% end %>
<hr>
<p><strong><a href="/applications/<%= @application.id %>/educations">Save</a></strong></p>



